{% extends 'base.html.twig' %}

{% block title %}
    {{ 'imprint.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'imprint.title'|trans }}</h1>
        <h2>{{ 'imprint.contact'|trans }}</h2>
        {{ include('shared/address.html.twig') }}
    </main>
{% endblock %}