{% extends 'base.html.twig' %}

{% block title %}
    {{ 'imprint.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'imprint.title'|trans }}</h1>
        <h2>{{ 'imprint.contact'|trans }}</h2>
        <address class="vcard">
            <div class="fn">{{ 'imprint.fullName'|trans }}</div>
            <div class="adr">
                <div class="street-address">{{ 'imprint.streetAddress'|trans }}</div>
                <div>
                    <span class="postal-code">{{ 'imprint.postalCode'|trans }}</span>
                    <span class="locality">{{ 'imprint.locality'|trans }}</span>
                </div>
                <div class="country-name">{{ 'imprint.country'|trans }}</div>
                <a href="mailto:{{ 'imprint.email'|trans }}">
                    <span class="email">{{ 'imprint.email'|trans }}</span>
                </a>
            </div>
        </address>
    </main>
{% endblock %}