{% extends 'base.html.twig' %}

{% block title %}
    {{ 'contact.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'contact.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        <div>
            {{ form_errors(form.agreedToTerms) }}
            {{ form_widget(form.agreedToTerms) }}
            <label for="contact_agreedToTerms" class="required">
                {{ 'form.field.agreedToTermsPreLink'|trans }}
                <a href="{{ url('privacy') }}">{{ 'form.field.agreedToTermsLink'|trans }}</a>
                {{ 'form.field.agreedToTermsPostLink'|trans }}
            </label>
        </div>
        <button type="submit">{{ 'contact.submit'|trans }}</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
