{% extends 'base.html.twig' %}

{% block title %}
    {{ 'contact.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'contact.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}
