<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url('prices') }}">{{ 'prices.title'|trans }}</a></li>
                    <li><a href="{{ url('directions') }}">{{ 'directions.title'|trans }}</a></li>
                    <li><a href="{{ url('house') }}">{{ 'house.title'|trans }}</a></li>
                    <li><a href="{{ url('apartment') }}">{{ 'apartment.title'|trans }}</a></li>
                    <li><a href="{{ url('booking') }}">{{ 'booking.title'|trans }}</a></li>
                    <li><a href="{{ url('contact') }}">{{ 'contact.title'|trans }}</a></li>
                </ul>
            </nav>
        </header>
        {% block flashes %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        <footer>
            <ul>
                <li><a href="{{ url('imprint') }}">{{ 'imprint.title'|trans }}</a></li>
                <li><a href="{{ url('privacy') }}">{{ 'privacy.title'|trans }}</a></li>
            </ul>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
