<address class="vcard">
    <div class="fn">{{ 'imprint.fullName'|trans }}</div>
    <div class="adr">
        <div class="street-address">{{ 'imprint.streetAddress'|trans }}</div>
        <div>
            <span class="postal-code">{{ 'imprint.postalCode'|trans }}</span>
            <span class="locality">{{ 'imprint.locality'|trans }}</span>
        </div>
        <div class="country-name">{{ 'imprint.country'|trans }}</div>
        <a href="mailto:{{ 'imprint.email'|trans }}" class="email">{{ 'imprint.email'|trans }}</a>
    </div>
</address>
